h1 span {
color: rgb(44, 106, 145)
}
 
.logo {
    width: 100%;
    margin-left: 600px;
    margin-top: 23px;
    margin-bottom: 700px;
    padding-top: 10px;
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    position: relative;
    bottom: 330px;
    right: 400px;
};

@media (max-width: 250px) {
    .h1 span {
        font-size: 20px;
    
    }

    .Form {
        font-size: 10px;


    }

}